*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
    z-index:999;
}

/* ... tuloy-tuloy hanggang footer ... */

footer{
    padding:30px;
    text-align:center;
    background:#08111f;
}
